:root {
    --bs-body-bg: var(--bs-gray-100);
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

video {
    width: 100%;
    filter: brightness(50%);
}

#video-section-overlay-text {
    color: aliceblue;
}
