:root {
    --bs-body-bg: var(--bs-gray-100);
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: aliceblue;
}

video {
    width: 100%;
    filter: brightness(50%);
}

#video-section-overlay-text {
    color: aliceblue;
}

.ri--device-line {
    display: inline-block;
    width: 15em;
    height: 15em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='aliceblue' d='M19 8h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-8a1 1 0 0 1-1-1v-1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1zm-2 0V4H5v14h7V9a1 1 0 0 1 1-1zm-3 2v10h6V10z'/%3E%3C/svg%3E");
}

.streamline--group-meeting-call {
    display: inline-block;
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cg fill='none' stroke='aliceblue' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M3.48 10.533a1.141 1.141 0 1 0 0-2.283a1.141 1.141 0 0 0 0 2.283m-2.055 2.946a2.06 2.06 0 0 1 .267-.993a2.077 2.077 0 0 1 1.788-1.045a2.077 2.077 0 0 1 1.787 1.045c.172.303.263.645.267.993m4.991-2.946a1.141 1.141 0 1 0 0-2.283a1.141 1.141 0 0 0 0 2.283M8.47 13.479a2.06 2.06 0 0 1 .267-.993a2.077 2.077 0 0 1 1.787-1.045a2.058 2.058 0 0 1 2.055 2.037m-5.58-9.431a1.065 1.065 0 1 0 0-2.13a1.065 1.065 0 0 0 0 2.13M5.008 6.718c.003-.337.092-.668.258-.962A2.013 2.013 0 0 1 7 4.743c.71.001 1.383.394 1.733 1.013c.166.294.255.625.259.962'/%3E%3Cpath d='M11.782.545H2.218a.718.718 0 0 0-.718.718V6c0 .397.322.718.718.718h9.564A.718.718 0 0 0 12.5 6V1.263a.718.718 0 0 0-.718-.718'/%3E%3C/g%3E%3C/svg%3E");
}

.fluent--cloud-cube-28-regular {
    display: inline-block;
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath fill='aliceblue' d='M14 5.5a5.5 5.5 0 0 0-5.496 5.28a.75.75 0 0 1-.75.72H7.5a4 4 0 0 0 0 8H13V21H7.5a5.5 5.5 0 0 1-.431-10.983a7.001 7.001 0 0 1 13.862 0a5.5 5.5 0 0 1 5 4.606a3 3 0 0 0-.633-.409l-1.276-.612A4 4 0 0 0 20.5 11.5h-.255a.75.75 0 0 1-.75-.72A5.5 5.5 0 0 0 14 5.5m12 16.58v-5.16a2 2 0 0 0-1.135-1.804l-4-1.92a2 2 0 0 0-1.73 0l-4 1.92A2 2 0 0 0 14 16.919v5.161a2 2 0 0 0 1.135 1.804l4 1.92a2 2 0 0 0 1.73 0l4-1.92A2 2 0 0 0 26 22.08m-9.95-5.296a.5.5 0 0 1 .666-.235L20 18.125l3.284-1.576a.5.5 0 1 1 .432.902L20.5 18.994V23a.5.5 0 0 1-1 0v-4.006l-3.216-1.543a.5.5 0 0 1-.235-.667'/%3E%3C/svg%3E");
}

.healthicons--group-discussion-meetingx3-outline {
    display: inline-block;
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='aliceblue' fill-rule='evenodd' d='M33 18.535c1.163.348 2 .465 2 .465v-3h2a5 5 0 0 0 0-10h-5.764A5.236 5.236 0 0 0 26 11.236c0 4.518 4.348 6.506 7 7.299M40 11a3 3 0 0 1-3 3h-4v2.435a13 13 0 0 1-1.603-.667C29.414 14.774 28 13.36 28 11.236A3.236 3.236 0 0 1 31.236 8H37a3 3 0 0 1 3 3m-25.183 6.993A4.998 4.998 0 0 1 14.998 8h3.169A4.833 4.833 0 0 1 23 12.833c0 4.042-3.63 5.89-6 6.667c-1.148.376-2 .5-2 .5v-2zM17 16.071l-2.11-.076A2.998 2.998 0 0 1 14.997 10h3.169A2.833 2.833 0 0 1 21 12.833c0 1.915-1.217 3.17-2.924 4.06c-.36.188-.725.348-1.076.484zM28 24c0 2.21-1.79 4-4 4s-4-1.79-4-4s1.79-4 4-4s4 1.79 4 4m-2 0a1.999 1.999 0 1 1-4 0a1.999 1.999 0 1 1 4 0m-7 2c0 2.21-1.79 4-4 4s-4-1.79-4-4s1.79-4 4-4s4 1.79 4 4m-2 0a1.999 1.999 0 1 1-4 0a1.999 1.999 0 1 1 4 0M6 36.546C6 33.522 11.996 32 15 32c.585 0 1.284.058 2.03.173C18.371 31.19 20.827 30 24 30s5.629 1.19 6.971 2.173A13.6 13.6 0 0 1 33 32c3.004 0 9 1.523 9 4.545V42H6zm15.652-.523c.348.324.348.493.348.522V40H8v-3.455c0-.03 0-.198.348-.522c.363-.339.962-.7 1.776-1.03C11.756 34.333 13.75 34 15 34s3.244.333 4.876.993c.814.33 1.413.691 1.776 1.03m6.49-3.167A10.4 10.4 0 0 0 24 32c-1.656 0-3.064.386-4.141.856C22.074 33.6 24 34.832 24 36.546c0-1.714 1.926-2.945 4.142-3.69M40 36.546c0-.03 0-.199-.348-.523c-.363-.339-.962-.7-1.776-1.03C36.244 34.333 34.25 34 33 34s-3.244.333-4.876.993c-.814.33-1.413.691-1.776 1.03c-.348.324-.348.493-.348.522V40h14zM33 30c2.21 0 4-1.79 4-4s-1.79-4-4-4s-4 1.79-4 4s1.79 4 4 4m0-2a1.999 1.999 0 1 0 0-4a1.999 1.999 0 1 0 0 4' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.fluent--design-ideas-20-regular {
    display: inline-block;
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='aliceblue' d='M9 4c-.763 0-1.475.213-2.082.584a3.3 3.3 0 0 0-.339-.96A5 5 0 0 1 14 8h2.501A1.5 1.5 0 0 1 18 9.5v6a1.5 1.5 0 0 1-1.5 1.5h-6A1.5 1.5 0 0 1 9 15.5V13a5 5 0 0 1-2.02-.425Q7 12.066 7 11.5v-.035c.588.34 1.271.535 2 .535V9.5A1.5 1.5 0 0 1 10.5 8H13a4 4 0 0 0-4-4m4.9 5a5.01 5.01 0 0 1-3.9 3.9v2.6a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 .5-.5v-6a.5.5 0 0 0-.5-.5zm-1.026 0H10.5a.5.5 0 0 0-.5.5v2.374A4.01 4.01 0 0 0 12.874 9M4.581 2.125a.5.5 0 0 1 .119.598a.3.3 0 0 0-.013.09c0 .063.016.183.167.333c.073.073.129.125.19.182c.05.046.103.094.17.16c.13.124.267.27.39.453c.255.383.396.862.396 1.559c0 .853-.316 1.58-.809 2.026l.064.074c.28.344.443.79.545 1.23c.2.87.2 1.916.2 2.645v.025c0 2.787-.379 4.368-.796 5.272c-.21.455-.433.745-.626.927a1.5 1.5 0 0 1-.258.198a1 1 0 0 1-.133.067S4.074 18 4 18s-.187-.036-.187-.036a1 1 0 0 1-.133-.067a1.5 1.5 0 0 1-.258-.198c-.193-.183-.416-.472-.626-.927C2.379 15.868 2 14.287 2 11.5v-.025c0-.73 0-1.775.2-2.645c.102-.44.265-.886.545-1.23q.03-.038.064-.074C2.316 7.08 2 6.353 2 5.5c0-.326.087-.715.207-1.074s.288-.732.482-1.032c.231-.39.556-.717.808-.937a6 6 0 0 1 .432-.343l.03-.02l.009-.007l.003-.002l.002-.001a.5.5 0 0 1 .608.041M4 7c.387-.001 1-.43 1-1.5c0-.553-.109-.824-.229-1.004a1.8 1.8 0 0 0-.251-.289l-.124-.116c-.081-.076-.176-.164-.25-.237a1.7 1.7 0 0 1-.279-.365a2.5 2.5 0 0 0-.334.44c-.14.215-.276.51-.377.814c-.104.31-.156.584-.156.757C3 6.572 3.615 7 4 7m-.48 1.232c-.142.173-.26.449-.346.823C3.002 9.803 3 10.743 3 11.5c0 2.713.371 4.132.704 4.853c.11.237.213.395.296.5a2.5 2.5 0 0 0 .296-.5c.333-.721.704-2.14.704-4.853c0-.757-.002-1.697-.175-2.445c-.086-.374-.204-.65-.345-.823A.57.57 0 0 0 4 8h-.002a.57.57 0 0 0-.478.232'/%3E%3C/svg%3E");
}

.text-body-primary {
    color: aliceblue;
}

footer {
    padding-top: 500px;
}
